/* boilerplate style */
html {
  font-size: 62.5%; /*Standard is 16px - this makes it 10px */
}

html body {
  font-size: 1.6rem; /*Makes it 16px*/
  color: white;
  font-family: 'Ubuntu';
  background-color: #FFFF99;
  overflow-x: hidden !important;
}

a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

a {
  color: #c4b998;
}

.hover:hover {
  color: white;
  opacity: 0.7;
}

.hover:active {
  opacity: 1;
}


/*search submit */
#submit-button {
  font-size: 3rem;
  color: white;
}

#submit-button:hover {
  opacity:0.8;

}

#submit-button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}


.search-form{
  width: 70%;
}

#cityName  {
  font-size: 4rem;
}

.output {
  font-size: 4rem;
  color: red;
}


/* changes based on weather description */
.rain {
  background-image: url();

}

.sun {
  background-image: url();

}
.cloud {
  background-image: url();

}
